body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
}

#results {
  margin-top: 20px;
}

#results p {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
}

#results p b {
  color: #333;
}
